#root {
  text-align: center;
}

.App {
  display: inline-block;
  width: 1200px;
  margin-bottom: 100px;
}

.card {
  display: flex;
  order: 5; /* default is 0 */
  text-align: left;
  border: solid 2px black;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.img {
  flex: 1;
  margin-right: 1px;
  max-width: 150px;
}

.text {
  flex: 2;
  flex-direction: column;
  align-items: flex-start;
}
.text span {
  font-weight: bold;
}

.greetings {
  border: solid 2px black;
  text-align: left;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.randonNumber {
  border: solid 2px black;
  text-align: left;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.BoxColor {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px black;
  text-align: left;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 150px;
}

.BoxColor p {
  font-size: 2em;
}

.contenedorCredit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
}

.creditcard {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  height: 200px;
  box-sizing: border-box;
  border-radius: 20px;
  margin-right: 10px;
  text-align: left;
}

.creditcard:last-child {
  margin-right: 0;
}

.creditNumber {
  text-align: center;
  font-size: 1.5em;
}
